/* stylelint-disable csstree/validator */
* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.row {
  width: 50%;
  margin: 3em auto;
  box-shadow: black;
  border-radius: 5px;
}

.input {
  width: 90%;
}

.input input {
  width: 70%;
  padding: 0.7em;
  border-radius: 3px;
}

.input button {
  padding: 0.7em;
}

.fa-search {
  margin-left: 2px;
}

.information {
  width: 65%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #2ff6d0;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  box-shadow: 4px 4px 10px 2px rgb(128, 128, 128);
}

.hide {
  display: none;
}
